In [4]:
import os
import numpy as np
import torch
from utils import filter_search
import pandas as pd
from torch.utils.data import DataLoader, Dataset
from itertools import cycle, islice

In [57]:
df = pd.read_csv('result.csv')
df.columns = ['loss', 'ip']

In [68]:
db_server_list = ["10.200.2.168", "10.200.1.51"]
nfs_server_list = ["10.200.2.184", "10.200.2.199", "10.200.1.60"]

df[df.ip.isin(db_server_list)]

                   loss            ip
613  0.1849707067012787   10.200.1.51
653                  []  10.200.2.168

In [69]:
df[df.loss!="[]"].sort_values('loss')[:20]

                      loss              ip
154   0.033559177070856094    10.200.2.199
49     0.06194790080189705    10.200.2.184
19     0.08503732085227966  10.101.175.163
792    0.10747983306646347  172.23.211.176
34     0.11411666125059128    10.200.1.101
209    0.15287157893180847    10.200.1.100
613     0.1849707067012787     10.200.1.51
162     0.1854935735464096    10.200.2.160
69     0.20226919651031494   10.101.255.12
7       0.2061598300933838    10.200.1.102
1085    0.2522239685058594     10.200.1.50
24     0.25902125239372253     10.200.1.21
223     0.2632840573787689  10.101.155.158
851    0.27103060483932495  10.101.144.111
27     0.27614665031433105     10.200.1.30
30      0.2786485552787781  10.101.165.165
6       0.2898534834384918     10.200.1.20
1004     0.294837087392807  10.101.215.174
410    0.31744569540023804  10.101.195.151
210     0.3230850100517273     10.200.1.57

# dns 서버
- dns_server_list = ["8.8.8.8","8.8.4.4","168.126.63.1","10.200.1.21","10.200.1.20"]

In [95]:
df = pd.read_csv('result_dns.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss             ip
0  0.022396    10.200.1.20
1  0.028135  10.101.254.19
2  0.033572    10.200.1.21
3  0.048868    10.200.1.11
4  0.062045   10.200.2.150
5  0.065557   10.101.84.89
6  0.067454   10.200.2.161
7  0.070557   10.101.94.89
8  0.070845  10.101.45.226
9  0.072748   10.101.94.70

# ebs 12/11일 data

In [104]:
df = pd.read_csv('result_dns.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.030153     10.200.1.20
1  0.036151  10.101.125.160
2  0.037695     10.200.1.50
3  0.041787    10.200.2.161
4  0.045893     10.200.1.11
5  0.051845     10.200.1.21
6  0.055711   10.101.254.19
7  0.060337    10.200.2.150
8  0.067892   10.101.255.12
9  0.080299   10.101.45.212

# Mail 서버
- mail_server_list = ['10.200.2.150', '121.163.121.81', '121.163.121.82', '121.163.121.67']

In [87]:
df[df.ip=='10.200.2.150']

       loss            ip
6  0.109218  10.200.2.150

In [96]:
df = pd.read_csv('result_mail.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss             ip
0  0.044133   10.200.2.150
1  0.045952   10.124.1.100
2  0.053149    10.124.1.68
3  0.055276    10.124.1.33
4  0.056872    10.124.1.36
5  0.058807    10.200.1.11
6  0.061190    10.124.1.40
7  0.067834    10.124.1.65
8  0.069037  10.101.254.19
9  0.070328  10.101.85.215

In [109]:
df = pd.read_csv('result_mail.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.043420    10.200.2.150
1  0.051974     10.200.1.11
2  0.052414   10.101.85.215
3  0.055715  10.101.125.160
4  0.057026    10.200.2.161
5  0.067768  10.101.164.124
6  0.085332   10.101.254.19
7  0.091742    10.200.2.159
8  0.098964     10.200.1.20
9  0.118056   10.101.45.212

# DB서버
- db_server_list = ["10.200.2.168", "10.200.1.51","222.122.213.215", "52.78.162.129"]

In [92]:
df[df.ip=='10.200.1.51']

        loss           ip
57  0.130389  10.200.1.51

In [97]:
df = pd.read_csv('result_db.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.053787    10.200.2.168
1  0.061437    10.200.2.151
2  0.079412    10.101.94.57
3  0.087460     10.200.1.20
4  0.098455     10.200.1.51
5  0.098554    10.200.2.184
6  0.102964     10.200.1.21
7  0.105836  10.101.175.179
8  0.108514    10.101.84.89
9  0.111442  10.101.165.165

In [106]:
df = pd.read_csv('result_db.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.070972     10.200.1.51
1  0.084861     10.200.1.35
2  0.095663    10.200.2.184
3  0.103929     10.200.1.20
4  0.104774     10.200.1.21
5  0.108032    10.200.2.161
6  0.125031  10.101.175.163
7  0.130251   10.101.174.55
8  0.130820  10.101.165.165
9  0.131235     10.200.1.50

# NFS 서버
- nfs_server_list = ["10.200.2.184", "10.200.2.199", "10.200.1.60"]

In [99]:
df[df.ip=='10.200.1.60']

        loss           ip
56  0.141666  10.200.1.60

In [98]:
df = pd.read_csv('result_nfs.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.021994    10.200.2.184
1  0.039995    10.200.2.199
2  0.056439    10.200.2.151
3  0.058024  10.101.175.163
4  0.082512    10.101.94.57
5  0.086865  10.101.175.178
6  0.127405    10.200.1.101
7  0.130172     10.200.1.51
8  0.134931  10.101.155.155
9  0.136828    10.200.2.160

In [108]:
df[df.ip=='10.200.1.60']

Empty DataFrame
Columns: [loss, ip]
Index: []

In [105]:
df = pd.read_csv('result_nfs.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.012319    10.200.2.184
1  0.014831    10.200.2.199
2  0.048435  10.101.175.163
3  0.106893     10.200.1.51
4  0.117305  172.23.211.176
5  0.126278    10.200.1.101
6  0.130978     10.200.4.15
7  0.160625   10.101.214.66
8  0.178054     10.124.1.33
9  0.181249  10.101.155.158

# naru dns
192.168.2.209 : git2.narusec.com
192.168.1.1 : dns, gateway
192.168.2.242 : recon elk

In [100]:
df = pd.read_csv('result_dns.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.022886   192.168.2.209
1  0.072663     192.168.1.1
2  0.079288     192.168.2.3
3  0.079314    172.16.1.241
4  0.100239  172.16.100.103
5  0.106206   192.168.1.102
6  0.164171   192.168.1.240
7  0.166973   172.16.100.50
8  0.173325  172.16.100.189
9  0.194777   192.168.2.242

In [102]:
df = pd.read_csv('result_db.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.094530   192.168.2.209
1  0.125171  172.16.100.103
2  0.146870     192.168.1.1
3  0.147405     192.168.2.3
4  0.177139   192.168.1.102
5  0.177664    172.16.1.241
6  0.191331   192.168.2.242
7  0.213055  172.16.100.189
8  0.218461   172.16.100.50
9  0.270211   192.168.1.240

In [103]:
df = pd.read_csv('result_nfs.csv')
df.columns = ['loss', 'ip']
df.dropna(inplace=True)
df[df.loss!="[]"].sort_values('loss')[:10].reset_index(drop=True)

       loss              ip
0  0.084206   192.168.2.242
1  0.173191  172.16.100.103
2  0.187349   172.16.100.50
3  0.212457    172.16.2.221
4  0.225998  172.16.100.189
5  0.234110     192.168.2.3
6  0.242749   192.168.1.127
7  0.242779   192.168.1.136
8  0.244303   192.168.1.102
9  0.255552   192.168.1.139